/* This CSS is just for presentational purposes. */
body {
   font-size: 100%;
   background-color: hsl(120, 60%, 70%); }
#wrap {
   font: 1.3em/1.3 Arial, Helvetica, sans-serif;
   width: 30em;
   margin: 0 auto;
   padding: 1em;
   background-color: hsl(120, 60%, 70%); }
h1 {
   font-size: 200%; }

/* This CSS is used for the Show/Hide functionality. */
.more {
   display: none;
   border-top: 1px solid #666;
   border-bottom: 1px solid #666; }
a.hideLink {
   text-decoration: none;
   color: #36f; }
a.showLink:hover {
   text-decoration: none;
   color: #36f;
   border-bottom: 1px dotted #36f; }
a.hideLink:hover {
   text-decoration: none;
   color: #36f;
   border-bottom: 1px dotted #36f; }